language: go

go:
  - tip

install:
  - go get -t ./...
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

script:
  - make test

after_success:
  - goveralls -coverprofile=profile.cov -service=travis-ci

notifications:
      email: false
