language: go

go:
  - 1.7

install:
  - go get -t ./...
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/dedis/goveralls

go_import_path: gopkg.in/dedis/cothority.v1

script:
  - make test

notifications:
  email: false
